@use "../abstracts" as *;

//RESET =====================================================
* {
  outline-color: var(--cor-primaria);
}

body {
  font-size: 16px;
  font-family: var(--secondary-font);
  letter-spacing: to-rem(1);
  background: var(--webicos-dark-blue);
  height: 100vh;
  width: 100vw;

  .overflow-hidden {
    overflow: hidden;
  }
}

p a {
  text-decoration: underline;
}

a {
  display: block;
}

.container {
  display: flex;
  padding: 0 to-rem(20);

  @include media-min(medium) {
    padding: 0 to-rem(44);
  }

  @include media-min(desktop) {
    padding: 0 to-rem(24);
    max-width: to-rem(1400);
    margin: 0 auto;
  }
}

//temporario
.footer, .header {
  position: fixed;
  width: 100%;
  padding: to-rem(16) 0;

  @include media-min(medium) {
    padding: to-rem(32) 0;
  }

  @include media-min(desktop) {
    padding: to-rem(72) 0;
  }

  .container {
    align-items: center;
    column-gap: to-rem(20);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: to-rem(60);
  color: var(--webicos-white);
  text-transform: uppercase;
  min-width: fit-content;
  width: fit-content;

  &--primary {
    padding: to-rem(8) to-rem(24);
    background: var(--webicos-dark-gradient);
    border: to-rem(1) solid var(--webicos-white);
    backdrop-filter: blur(to-rem(16));
  }

  &--secondary {
    padding: to-rem(8) to-rem(16);
    background: var(--webicos-dark-gray);
    backdrop-filter: blur(to-rem(12));
  }

  .material-symbols-outlined {
    color: currentColor;
    padding-right: to-rem(8);
  }
}

.title {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  letter-spacing: to-rem(1);
  font-weight: var(--medium);
  color: var(--webicos-white);

  &.--title-center {
    text-align: center;
  }
}
