@use "../abstracts" as *;

footer {
  bottom: 0;

  .container {
    justify-content: center;

    .footer-info {
      display: flex;
      align-items: center;
      column-gap: to-rem(16);
      color: var(--webicos-white);
      font-size: to-rem(16);
      
      @include media-min(medium) {
        font-size: to-rem(20);
      }

      .material-symbols-outlined {
        opacity: .48;
      }
    }
  }
}