@use "../abstracts" as *;

footer {
  padding: to-rem(16) 0;
  bottom: 0;

  @include media-min(medium) {
    padding: to-rem(32) 0;
  }

  @include media-min(desktop) {
    padding: to-rem(72) 0;
  }

  .container {
    .footer-info {
      display: flex;
      align-items: center;
      column-gap: to-rem(16);
      color: var(--webicos-white);
      font-size: to-rem(14);

      @include media-min(small) {
        font-size: to-rem(16);
      }

      @include media-min(medium) {
        font-size: to-rem(20);
      }

      .material-symbols-outlined {
        opacity: .48;
      }
    }
  }
}