@use "../abstracts" as *;

.header {
  top: 0;

  .container {
    justify-content: space-between;

    .button {
      padding: to-rem(6) to-rem(6) to-rem(6) to-rem(18);
      
      .material-symbols-outlined {
        padding-right: 0;
        margin-left: to-rem(8);
        background: var(--webicos-white);
        color: var(--webicos-dark-blue);
        font-size: to-rem(16);
        display: flex;
        align-items: center;
        justify-content: center;
        width: to-rem(24);
        height: to-rem(24);
        border-radius: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}