@use "../global";
@use "../partials/header";
@use "../partials/footer";
@use "../abstracts" as *;

.main {
  height: 100%;

  .container {
    height: 100%;
    row-gap: to-rem(44);

    @include media-min(medium) {
      row-gap: to-rem(64);
    }

    @include media-min(desktop) {
      row-gap: to-rem(64);
    }

    @include media-min(1920px) {
      row-gap: to-rem(96);
    }

    &,
    .main_title,
    .main_collaboration {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .main_title {
      row-gap: to-rem(32);

      h1 {
        max-width: to-rem(1180);
        color: var(--webicos-white);
        font-family: var(--primary-font);
        text-transform: uppercase;
        text-align: center;
        font-weight: var(--regular);
        font-size: to-rem(28);

        @include media-min(small) {
          font-size: 6vw; //gambiarra pra letra ir crescendo
        }

        @include media-min(desktop) {
          font-size: to-rem(64);
        }

        @include media-min(1920px) {
          font-size: to-rem(80);
        }

        strong {
          font-weight: var(--bold);
        }
      }
    }

    .main_collaboration {
      row-gap: to-rem(20);

      .title {
        font-size: to-rem(16);
      }

      @include media-min(medium) {
        row-gap: to-rem(48);

        .title {
          font-size: to-rem(28);
        }
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: to-rem(20);
        row-gap: to-rem(20);

        li img {
          max-height: to-rem(32);
          width: auto;
        }

        @include media-min(medium) {
          column-gap: to-rem(48);

          li img {
            max-height: none;

          }
        }
      }
    }
  }
}